<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
     <title>Porichoy</title>
</head>

<!-- Default form login -->
<form style="margin-left: 550px; margin-right: 550px;" 
 class="text-center border border-light p-5 align-middle" action="signup" method="POST">

    <p class="h4 mb-4">Signup</p>

    <input required name ="name" type="name" id="name" class="form-control mb-4" placeholder="User Name">

    <!-- Email -->
    <input required name ="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input required name = "password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

    <input required name ="number" type="number" id="number" class="form-control mb-4" placeholder="Contact Number">


    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Signup</button>




</form>
<!-- Default form login -->