<%- include('header')%>

<h3 style="margin-top: 10px;"> CSE 225L: Data Structures and Algorithm Lab</h3>
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title">Course Summary</h3>

        <div class="card-text mb-2">
           <p> This course is about an introduction to the theory and practice of data structuring techniques. 
               Topics include internal data representation, abstract data types (ADT), stacks, queues, list structures, 
               recursive data structures, trees, regraphs and networks. Concept of object orientation as a 
               data abstraction technique will be introduced.
            </p>
        </div>
        
    </div>

    <div class="card-body">
        <h3 class="card-title">Objectives</h3>

        <div class="card-text mb-2">
           <ul>
               <li>introduce the basic data structures for storage and retrieval of ordered or unordered data using 
                   arrays, linked lists, binary trees, heaps, graphs and hash tables. </li>

                <li> introduce the concept of problem domain analysis and exploit the domain features to improve data structures efficiency. </li>
                
               <li> develop the concept of asymptotic analysis using Big-O techniques to compare different algorithmic solutions.</li>
           </ul>
        </div>
        
    </div>
</div>


<%- include('footer')%>