<%- include('header')%>
<h3 style="margin-top: 10px;"> CSE 215L: Programming Language - II (java) Lab</h3>
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title">Course Summary</h3>

        <div class="card-text mb-2">
           <p> This course introduces the basic concepts and techniques of object oriented programming. 
               Actual computer programs are constructed by apply object oriented programming concepts and
                using an OOP language. Java is primarily chosen as the programming language in this course. 
                The following topics are covered in this course: Java syntax with elementary programming, 
                primitive data types, strings, operators, statements, arrays and methods, introduction to OOP, 
                classes and objects, constructor, polymorphism, abstract classes and interfaces, file IO operations, 
                handling exceptions in Java, GUI, multithreading, generics and related concepts.
            </p>
        </div>
        
    </div>

    <div class="card-body">
        <h3 class="card-title">Objectives</h3>

        <div class="card-text mb-2">
           <ul>
               <li>To become use to the basics of elementary programming such as variables, conditional 
                   and iterative execution, arrays and methods in Java. </li>

                <li> To understand the attributes of object oriented programming (encapsulation, polymorphism, etc.) 
                    and concepts of OOP such as method overloading, method overriding, static and dynamic binding, abstract class, 
                    interface, visibility modifiers.
                </li>
                
               <li>To design a programming solution using the object oriented programming concept, 
                   and apply the concepts of exception handling, graphical user interface (GUI), event-driven programming, 
                   multi-threaded programming, generics in Java.
                </li>

                <li> To introduce Java SDK and Java IDE tools to develop Java applications with debugging. </li>

                <li> To work in a project team to support as a team member to develop applications. </li>
           </ul>
        </div>





        
    </div>
</div>


<%- include('footer')%>